body {
	/*background-image: url('../assets/stardust/stardust.png');*/
	/*background-color: #000000;*/
	font-family: 'Dosis', sans-serif;
	/*color: #ffffff;*/
}

h1, h2, h3 {
	font-family: 'Wire One', sans-serif;
}

/* Gradient color1 - color2 - color1 */
hr {
	border: 0;
	height: 1px;
 	background: #333;
	/*background: #ffffff;*/
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

p {
	padding: 5px;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	padding: 3px;
	display: inline;
	width: 60px;
}

a {
}

.terra {
	height: 250px;
	width: auto;
	position: relative;
/* 	animation: colorchange 50s;
	-webkit-animation: colorchange 50s; */
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#title {
	position: absolute;
	margin-left: 10px;
	z-index: 1;
}

canvas {
	border: 1px solid;
	padding: 0px;
	margin: 0px;
	display: block;
}

.container {
	padding: 10px;
	width: 60%;
	max-width: 600px;
	border: 1px solid;
	box-shadow: inset -2px -2px 3px #a3a3a3;
}

.pastel_red {
	color: #FF6961;
}

.btn {
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}

@keyframes colorchange {
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}

@-webkit-keyframes colorchange {
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}

@media (max-width: 600px) {
	body { font-size: 1.2em; }
	.container {
		padding: 10px;
		width: 90%;
		border: 1px solid;
	}
}
