body {
	background-image: url('../assets/concrete_seamless/concrete_seamless.png');
}

h1, h2, h3 {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}

/* Gradient color1 - color2 - color1 */
hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

p {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}

.terra {
	height: 150px;
	width: auto;
	position: relative;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

canvas {
	border: 1px solid;
}

.container {
	width: 70%;
	max-width: 800px;
}

.pastel_red {
	color: #FF6961;
}

@media (min-width: 600px) {
	body { font-size: 1.2em; }
}

@media (max-width: 600px) {
	.container {
		width: 90%;
		max-width: 800px;
	}
}
