doctype html

html
    head
        title Cory Sabol
        script( src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' )
        link( href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200', rel='stylesheet', type='text/css' )
        link( rel='stylesheet', href='/stylesheets/skeleton/skeleton.css' )
        link( rel='stylesheet', href='/stylesheets/FolioStyle.css' )
    body
        div#container( class='container' )
            //- div#imageBox( class='imageBox' ) 
            //- img#myFace( class='imageBox' src='/images/me.jpg', width=200, height=200 )
            div#header( class='content' )
                h1( class='blink' )
                    | Cory Sabol
                p( style='text-align: center;')
                    | Web Developer. Game Designer. Electronic Musician. Mountain Biker.
            div#content( class='content' )
                div
                    a#about( class='btn four column' )
                        | About
                    p#aboutContent( class='accordionContent' )
                        | I am curretly a computer science student and I love to code
                        | I also really enjoy creating appealing designs and designing games.
                        | I am a multi-talented developer, with skills in design, programming, and music production.
                    a#skills( class='btn four column' )
                        | Skills
                    p#skillsContent( class='accordionContent' )
                        | lorem ipsum lorem ispum
                    a#work( class='btn four column' )
                        | Work
                    a#contact( class='btn four column' )
                        | Contact
    script.
        $(document).ready( function() {
            $( '#aboutContent' ).hide();
            $( '#about' ).click( function() {
                if ( $( '#aboutContent' ).is( ':hidden' ) ) {
                    $( '#aboutContent' ).slideDown( 'slow' );
                } else {
                    $( '#aboutContent' ).slideUp( 'slow' );
                }
            });

            // Apply the slide animation to the accordion list elements
            var accordion = $( '#aboutContent' );
        });
        
