doctype html

html
    head
        title Cory Sabol
        link( href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200', rel='stylesheet', type='text/css' )
        link( rel='stylesheet', href='/stylesheets/skeleton/skeleton.css' )
        link( rel='stylesheet', href='/stylesheets/FolioStyle.css' )
    body
        div#container( class='container' )
            //- div#imageBox( class='imageBox' ) 
            //- img#myFace( class='imageBox' src='/images/me.jpg', width=200, height=200 )
            div#header( class='content' )
                h1( class='blink' )
                    | Cory Sabol
                p( style='text-align: center;')
                    | Programmer. Web Designer. Game Designer. Mountain Biker.
            div#content( class='content' )
                div
                    a#about( class='btn four column' )
                        | About
                    a#skills( class='btn four column' )
                        | Skills
                    a#work( class='btn four column' )
                        | Work
                    a#contact( class='btn four column' )
                        | Contact
