doctype html

html
    head
        title Cory Sabol
        script( src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' )
        script( src='http://code.jquery.com/ui/1.11.4/jquery-ui.min.js' )
        link( href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200', rel='stylesheet', type='text/css' )
        link( rel='stylesheet', href='/stylesheets/skeleton/skeleton.css' )
        link( rel='stylesheet', href='/stylesheets/FolioStyle.css' )
    body
        div#term( class='term' )
            p      
                |./about
                p
                    |blah blahalkdjsdfljaflkjsdflkjsf
                    |ldalkfjdslfkjsflksjflksjflskflskjflsjflskjflskjflskdjfslkdfjsdf
                    |I want this fucking text to wrap dammit.
                    span
                        |_
