doctype html

html
    head
        title Cory Sabol
        link( href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200', rel='stylesheet', type='text/css' )
        link( rel='stylesheet', href='/stylesheets/FolioStyle.css' )
    body
        div( class='content' )
            h1( class='blink' )
                | > Cory Sabol
            p
                | I write code and design web pages. I also fancy myself a game developer and designer in my spare time.
            h1( class='blink' )
                | > The things that I know
            h1( class='blink' )
                | > The things I have done
            div#projects()
                a( class='btn', href='https://sible777.github.io/Terra.js' ) 
                    | Terra.js
