<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200' rel='stylesheet' type='text/css'>
</head>
<body>
<!--  <canvas id='display'>
  </canvas>-->
  <h1 id='myname' class='blink'>> Cory Sabol</h1>
  <p>
    I write code and design web pages. I also fancy myself a game developer and designer in my spare time.
  </p>
  <h1 class='blink'>> The things I know</h1>
  <p>
    var skills = {<br>
    &nbsp;&nbsp;&nbsp;&nbsp;'back end' : [ 'Node.js', 'MongoDB' ],<br>
    &nbsp;&nbsp;&nbsp;&nbsp;'front end' : [ 'HTML, 'CSS', 'JavaScript' ]<br>
    };
  </P>
  <h1 class='blink'>> What I have done</h1>
  <div id='projects'>
    <ul>
      <li><a href='http://sible777.github.io/Terra.js/'>Terra.js</a></li>
    </ul>
  </div>
  <h1 class='blink'>> Contact me</h1>
  <div id='contactContainer'>
    <form class='underline'>
      <input type='text' placeholder='Say something'/>
      <input type='text' placeholder='Your email please'/>
      <input type='text' placeholder='Company name'/>
      <input type='text' placeholder='Blah blah blah'/>

      <!-- Cube -->
      <ul>
        <li>
           <div class="cube">
           <div class="side side1"></div>
           <div class="side side2"></div>
           <div class="side side3"></div>
           <div class="side side4"></div>
           <div class="side side5"></div>
           <div class="side side6"></div>
        </li>
      </ul>
      <ul>
        <li>
          <input type='submit'></input>
        </li>
      </ul>
    </form>
    <br><br>
</body>
